.features .glyphicon {
	font-size: 32px;
}

.quote {
  margin-top: 50px;	
  color: #efefef;
  background-color: #333;
}

.transport-systems {
	margin-top: 50px;
}

.schedule, .footer {
	margin-top: 40px;
}

/*---Footer Style---*/

.footer {
  color: #efefef;
  background-color: #333;
}

.footer a {
	color: #9af7fe;
}

 /*---Responsive Queries---*/

 @media only screen and (max-width: 750px) {
 	.warning-panel {
		margin-top: 40px;
 	}
 }