body {
	padding-top: 70px;
}

.features .glyphicon {
	font-size: 32px;
}

.quote {
  color: #efefef;
  background-color: #333;
}

/*---Footer Style---*/

.footer {
  color: #efefef;
  background-color: #333;
}